.layui-footer{
    text-align: center;
}
.iconfont,
.layui-icon {
  margin-right: 8px;
}
.layui-icon{
    margin-left: 20px;
}
iframe{
    width: 100%;
    height: 100%;
    background-color: #f2f3f5;
    background: url(/assets/images/3.jpg) no-repeat;
    background-size: cover;
    /* opacity: .5; */
}
.layui-body{
    /* overflow: hidden; */
    bottom: 0 !important;
   
}
/* .layui-footer{
    z-index: 998;
} */
/* .layui-card{
    opacity: 1;
} */
/* .layui-body:not(iframe){
    opacity: .5;
} */
.text-avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    text-align: center;
    line-height: 40px;
}
.layui-nav-img{
    width: 40px;
    height: 40px;
}
.layui-side .userinfo{
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
