*{
    margin: 0;
    padding: 0;
}
.layui-card{
    margin: 20px;
}
.layui-card .layui-form{
    width: 500px;
}
.layui-card{
    opacity: .7;
}
.layui-body{
    /* overflow: hidden; */
    bottom: 0;
   
}